* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    padding-bottom: 40px;
}

form {
    position: fixed;
    bottom: 0;
}

.chat-input {
    padding: 8px;
}

#messages li:nth-child(odd) {
    background: #eee;
}