<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="homeyApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!-- JS Source -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Angular Files -->
    <script src="js/app.js"></script>
    <script src="js/SocketService.js"></script>
    <script src="js/HeaderController.js"></script>
    <script src="js/ChatController.js"></script>
</head>
<body>
<div ng-controller="HeaderController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="toggleNavbar()"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Homey</a>
            </div>

            <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/')}">
                        <a href="/#/welcome">Home</a>
                    </li>
                    <li ng-class="{ active: isActive('/chat')}">
                        <a href="/#/chat">Chat</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown is-open="status.isopen">
                        <a uib-dropdown-toggle="" role="button" aria-haspopup="true"
                           aria-expanded="false">Login <span class="caret"></span></a>
                        <ul class="uib-dropdown-menu" role="menu"
                            aria-labelledby="single-button">
                            <li role="menuitem"><a href="#">Action</a></li>
                            <li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div ng-view></div>
<link rel="stylesheet" href="css/app-style.css">
</body>
</html>