<div class="container">
    <ul id="messages" class="list-group">
        <li ng-repeat="message in messages track by $index" class="list-group-item">{{message}}</li>
    </ul>
</div>
<div>
    <form name="sendChat" novalidate>
        <div class="input-group chat-input">
            <input type="text" name="name" id="m" class="form-control" value="" title="" required="required"
                   ng-model="formData.message" ng-change="textChanged()">
            <span class="input-group-btn"><button class="btn btn-primary" ng-click="sendChatMessage()">Send
            </button></span>
        </div>
    </form>
</div>

<link rel="stylesheet" href="../css/chat-style.css">