<div class="jumbotron">
    <div class="container">
        <h1>Welcome</h1>
        <p>This is just a welcome Page</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>